.h2 {
    color: #03396c;
    font-family: 'Trebuchet MS', sans-serif;
    text-align: center;
    margin-bottom: 2%;
    margin-top:2%;
  }

.card {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.sublist {
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0px;
  margin-top: 8px;
}

.listicon {
  text-align: left;
}

.sameline {
  display:flex;
  justify-content: space-between;
}

.droplist {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

